/* nav bar background clour edit */
.bg{
	background-color: #C7C1C1;
    
    
  }
  .navbar-brand{
	margin: 0;
  }
  /* logo image size edit */
  .logo img {
	width: 200px;
	height: 90px;
	border-radius: 50px;
  }
	/* point viwe edit */
  #navbarSupportedContent li a:hover{
	padding: 20px 15px;
	  background: #FD8202;
	  transition: 0.5s;
	  text-transform: uppercase;
	  text-decoration: none;
	  border-radius: 15px;
	  border: #FD8202;
	  border-radius: 9px;
	
  }  
  .nav-item{
	font-size: 18px;;
    
  }
 
  ul li a
  {
     text-decoration:none;
     color:#FD8202;
     font-size:16px;
     display:block;
     text-align:center;
     padding:10px;
     border-radius:20px;
     color:white;

  }


  ul li ul
  {
    padding:0;
    position:absolute;
    display:none;
    visibility:hidden;
    
  }
 
  ul li ul li
  {
     
    display:block;
  }

  ul li:hover ul
  {
    display:block;
    opacity: 1;
    visibility:visible;
  }

  ul ul ul li
  {
    display:none;

  }


  ul ul ul
  {
    left:100%
    
  }




.phone, .email
{
    margin-right: 10px;
   
   
}
.phone
{
    color:#03a9f4;

    
}

.email
{
    color:#03a9f4;
    

   
}

.nav-link
{
    color: #03a9f4;
}

.log
{
    border: 2px solid #fff;
    opacity:50%;
    border-radius: 20px;
    padding: 0.2rem 1rem !important;
    line-height: 30px;
    margin-left: 10px;

}
#log:hover
{
    background-color: #C7C1C1;
    border: 2px solid #C7C1C1;
}
#sign
{
    border: 2px solid #FD8202;
    background-color: #FD8202;
    border-radius: 20px;
    margin-left: 10px;
    padding: 0.2rem 1rem !important;
    line-height: 30px;
}

:root {
  --blue: #FD8202;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
}

.cardHeader .btn 
{
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.cardBox .card:hover {
  background: var(--white);
}
